mixin unknowname(h, ...items)
    .unknowname
        h1= h
        section
            each item in items
                div
                    item
                    .img
                        img(src=item.url alt="p")
                    .word
                        h3= item.h3
                        p= item.p
mixin pas()
    .context
        .part
            .img_intro
                img(alt="p1" src="src/resources/images/home-ps-img1.png")
            h2 前程似锦App
            p.des 前程似锦创立于2017年，是以教育为导向的社交平台，通过大数据分析为家长提供既有参与感又个性化的选择教育体验。
            .learnmore 了解更多
        .part
            .img_intro
                img(alt="p2" src="src/resources/images/home-ps-img2.png")
            h2 运营管理系统
            p.des 功能齐全、贴合培训学校运营管理实际的系统软件，能方便快捷解决学校招生、教务、缴费、财务、人事等环节的管理问题。
            .learnmore 了解更多
mixin company_resume()
    div(class="pmessage company_resume")
        .part 
            p.m 2018
                span 年
            p.t 公司成立时间
        .part
            p.m 1082
                span 万
            p.t 年营业额
        .part
            p.m 3
                span +
            p.t 覆盖城市
        .part
            p.m 10
                span +
            p.t 投资项目
        .part
            p.m 40
                span +
            p.t 项目研究成果
mixin nav()
    .navigation_black
        .logo
            img(
                alt="logo"
                src="src/resources/images/home-img-logo.png"
            )
        .index
            .item 
                a(href="/home") 首页
            .item 
                a(href="/pas") 产品与服务
            .item 
                a(href="/culture") 企业文化
            .item
                a(href="/join") 加入我们
            .item 
                a(href="/about") 关于我们