#overview
    //-  Slider main container
    .swiper-container
        //- Additional required wrapper
        .swiper-wrapper
            //- Slides
            case page
                when "home"
                    each item,index in homepages
                        .swiper-slide
                            img(alt="picture" src=item.url)
                            h3 #{item.h1}
                            p #{item.h2}
                when "pas"
                    each url,index in paspages
                        .swiper-slide
                            img(alt="picture" src=url)
                default
                    .swiper-slide sdfasdfasdfsadf
        //- If we need pagination
        //- .swiper-pagination 
        //- If we need navigation buttons
        //- .swiper-button-prev
        //- .swiper-button-next
        //- If we need scrollbar 
        //- .swiper-scrollbar
    .navigation
        .logo
            img(
                alt="logo"
                src="src/resources/images/home-img-logo.png"
            )
        .index
            .item 首页
            .item 产品与服务
            .item 企业文化
            .item 加入我们
            .item 关于我们
    .foreword
        case page
            when "home"
                .title 12312313123
            when "pas"
                .intro_title
                    .home_title
                        .word 产品与服务
                        .box_shadow Products & solutions
        div(class="pagination" id="pagination")
            case page
                when "home"
                    if paspages.length <= 1
                    else
                        each item,index in homepages
                            .page(accessKey=index)
                when "pas"
                    if paspages.length <= 1
                    else
                        each item,index in paspages
                            .page(accessKey=index)