#overview
    //-  Slider main container
    .swiper-container
        //- Additional required wrapper
        .swiper-wrapper
            //- Slides
            case page
                when "home"
                    each item,index in homepages
                        .swiper-slide
                            img(alt="picture" src=item.url)
                            h3 #{item.h1}
                            p #{item.h2}
                default
                    .swiper-slide sdfasdfasdfsadf
        //- If we need pagination
        //- .swiper-pagination 
        //- If we need navigation buttons
        //- .swiper-button-prev
        //- .swiper-button-next
        //- If we need scrollbar 
        //- .swiper-scrollbar
    .navigation
        .logo
            img(
                alt="logo"
                src="src/resources/images/home-img-logo.png"
            )
        .index
            .item 首页
            .item 产品与服务
            .item 企业文化
            .item 加入我们
            .item 关于我们
    .foreword
        .title 12312313123
        div(class="pagination" id="pagination")
            case page
                when "home"
                    each item,index in homepages
                        .page(accessKey=index)