#overview
    //-  Slider main container
    .swiper-container
        //- Additional required wrapper
        .swiper-wrapper
            //- Slides
            if page == "home"
                each item,index in pages
                    .swiper-slide
                        img(alt="picture" src=item.url)
                        h3 #{item.h1}
                        p #{item.h2}
            else
                each url,index in pages
                    .swiper-slide
                        img(alt="picture" src=url)
        //- If we need pagination
        //- .swiper-pagination 
        //- If we need navigation buttons
        //- .swiper-button-prev
        //- .swiper-button-next
        //- If we need scrollbar 
        //- .swiper-scrollbar
    .navigation
        .logo
            img(
                alt="logo"
                src="src/resources/images/home-img-logo.png"
            )
        .index
            .item 
                a(href="/home") 首页
            .item 
                a(href="/pas") 产品与服务
            .item 企业文化
            .item 加入我们
            .item 
                a(href="/about") 关于我们
    .foreword
        case page
            when "home"
                .title 12312313123
            when "pas"
                div(class="intro_title clearfix marginleft")
                    .word 产品与服务
                    .box_shadow Products & solutions
            when "about"
                div(class="intro_title clearfix marginleft")
                    .word 关于我们
                    .box_shadow About US
        div(class="pagination" id="pagination")
            if pages.length <= 1
            else
                each item,index in pages
                    .page(accessKey=index)